<!-- footer start -->

<div style="margin: 10px 0">
  <div style="display: flex; margin: 10px 0; justify-content: space-between">
    <p>Powered by <span style="color: #4a90e2">NILE</span></p>
    <p>© NILE 2024</p>
  </div>

  <p style="margin-top: 20px">
    This email and any attachments may contain confidential and privileged
    information intended only for the use of the individual or entity named
    above. If you are not the intended recipient, you are hereby notified that
    any review, copying, or distribution of this email is strictly prohibited.
    If you received this email in error, please notify the sender immediately
    and delete the original message.
  </p>
</div>
<!-- footer end -->
